<div data-view="games.all">
    <div class="row">
        {{#games}}
            {{> games/preview}}
        {{/games}}

        <a id="games-add" href="">
            <div class="game-preview" data-view="game.preview">
                <div class="border_b game-thumb">
                    <div class="game-add">+</div>
                </div>
            </div>
        </a>
    </div>
</div>