<a class="games-preview" data-game_id="{{id}}" href="{{{url.games}}}/{{id}}">
    <div class="game-preview" data-view="game.preview">
        <div class="border_b game-thumb">
            <img src="/img/maps/a.preview.png" />
        </div>
        <div class="caption border_b">{{description}}</div>
    </div>
</a>