.DS_Store
var/tiles/*
jstonkers.tmproj
public/css/*.css
web/img/tiles

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

*.npmignore
*.gitmodules
*.gitignore

node_modules/*.git
var/*
var/session/*

coverage.html
