[submodule "lib/express"]
	path = lib/express
	url = git://github.com/visionmedia/express.git
[submodule "lib/Socket.IO-node"]
	path = lib/Socket.IO-node
	url = git://github.com/LearnBoost/Socket.IO-node.git
[submodule "lib/connect"]
	path = lib/connect
	url = git://github.com/senchalabs/connect.git
[submodule "lib/nodeunit"]
	path = lib/nodeunit
	url = git://github.com/caolan/nodeunit.git
[submodule "lib/node-utils"]
	path = lib/node-utils
	url = git://github.com/mikeal/node-utils.git
[submodule "lib/qs"]
	path = lib/qs
	url = git://github.com/visionmedia/node-querystring.git
[submodule "lib/request"]
	path = lib/request
	url = git://github.com/mikeal/request.git
[submodule "lib/node-uuid"]
	path = lib/node-uuid
	url = git://github.com/broofa/node-uuid.git
[submodule "lib/mime"]
	path = lib/mime
	url = git://github.com/bentomas/node-mime.git
[submodule "lib/step"]
	path = lib/step
	url = git://github.com/creationix/step.git
[submodule "lib/connect-session-file"]
	path = lib/connect-session-file
	url = git://github.com/odogono/connect-session-file.git
