= include_js('match_view')
= include_css('/css/lib/less')

.jstonkers_view
  %form{ action: "/match/001/commands/", method: "post" }
    #inventory_0{ class:"inventory border_a" }
    .world_view{ class:"border_a"  }
    #inventory_1{ class:"inventory border_a" }
    #messages{ class:"border_a" }

  %div{ id:'collision_map', style:'display:none' }
    %canvas{ width:cmap.dims[0], height:cmap.dims[1] }
    %img{ src:cmap.href, width:cmap.dims[0], height:cmap.dims[1] }
  
  %p{id:"debug_position"} position: 0, 0
  %p{id:"debug_cursor"} cursor: 0, 0
  %p{id:"debug_tile"} tile: 0, 0
  %p
    %a{id:"debug_zoom", href:'#'} zoom
  %p
    %a{id:"debug_save", href:'#'} save

:javascript
  window.jstonkers.data = #{state};

%script{ id: "template-map_tile", type: "text/x-jquery-tmpl" }
  %img{ class: "tile", src:"/img/tiles/b/n-n.png", style:"top:${top}; left:${left}"}

%script{ id: "template-map_unit", type: "text/x-jquery-tmpl" }
  %div{ class: "sprite unit", src:"/img/sprites.2.png", style:"top:${screen.top}; left:${screen.left}"}
  
%script{ id: "template-unit", type: "text/x-underscore-tmpl" }
  %div{ class: "sprite unit <%= type %>", src:"/img/sprites.2.png", style:"top:<%= screen.top %>; left:<%= screen.left %>"}