{{> header}}
<div class="container">
    <div class="row">
        {{#previews}}
            {{> game_preview}}
            preview!
        {{/previews}}

        <a href="">
            <div id="game_add" class="border_b game_preview">
            </div>
        </a>
    </div>
</div>
{{> footer}}