%html
  %head 
    %meta{ "http-equiv"='Content-Type', "content"='text/html;charset=utf-8' } 
    %title Stonkers?
    = gather_stylesheets()
    = gather_javascripts()
  %body
    #header
    #content
      = body
    #debug
      %pre
        = inspect(resource.app)
    #footer
      %p Copyright &copy; 2008 ODoGoNo
      %p All Rights Reserved
