<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>jstonkers</title>
        <link href="/css/lib/bootstrap.css" rel="stylesheet">
        <link href="/css/lib/leaflet.css" rel="stylesheet" />
        <link href="/css/client.css" rel="stylesheet" />
        <link href="/css/lib/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="offset2 span8 border_b"><img src="/img/title.png" /></div>
            </div>
            <div class="row">
                <div id="messages" class="offset2 span8 border_b"></div>
            </div>
        </div>

        <script src="/js/lib/jquery-1.7.2.min.js"></script>
        <script src="/js/lib/debug.js"></script>
        <script src="/js/lib/leaflet-src.js"></script>
        <script src="/js/lib/underscore.js"></script>
        <script src="/js/lib/underscore.string.js"></script>
        <script type="text/javascript">_.mixin(_.str.exports());</script>
        <script src="/js/lib/backbone.js"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script src="/js/jstonkers.js"></script>
        <script>
        $(function(){
            App = new jstonkers.client.App( {{{appParams}}} );
        });
        </script>
    </body>
</html>