<div data-view="home">
    <div class="row">
        <div class="offset2 span8 border_b"><img id="title" src="/img/title.png" /></div>
    </div>
    <div class="row">
        <div id="messages" class="ticker offset2 span8 border_b"></div>
    </div>
</div>